* {margin: 0;padding: 0;}
body {
	font-family: "Microsoft YaHei"
}

/*dev tools*/
.dev-box {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
	box-shadow: -1px 0px 3px #ccc;
}

/* search input */
.search-ipt-wrap {
	width: 50%;
	font-size: 18px;
	padding-top: 8px;
}
.search-ipt-wrap input{
	border: 1px solid #ccc;
	height: 28px;
	border-radius: 4px 4px 0 0;
	outline: none;
	-webkit-transition: .3s ease-out;
	transition: .3s ease-out;
}
.search-ipt-wrap input:focus {
	border-color: #69a3de;
	box-shadow: 0px 0px 2px #69a3de;
}

/* search list */
.search-list {
	width: 50%;
	list-style: none;
}
.search-list li {
	border: 1px solid #ccc;
	border-top: none;
	line-height: 2.2;
	cursor: pointer;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.search-list li:hover {
	background-color: #efefef;
}
.search-list li:last-of-type {
	border-radius: 0px 0px 4px 4px;
}
.search-list li a {
	display: block;
	color: inherit;
	text-decoration: none;
}
.search-list li, .search-ipt-wrap input{
	width: 80%;
	display: block;
	margin: auto;
	padding: 0 8px;
}

/* search store */
.search-store {
	width: 50%;
	margin-top: 10px;
	text-align: center;
}
.search-store > div {
	border-top: 1px solid #ccc;
}
.search-store > div h3 {
	padding: 8px 0;
}
.search-store > div h3 a {
	padding: 0 6px;
	font-weight: normal;
}
.search-store-list {
	list-style: none;
	font-size: 14px;
	line-height: 1.2;
	overflow: hidden;
}
.search-store-list li {
	padding: 6px;
	margin: 3px;
	border: 1px solid #ccc;
	float: left;
	border-radius: calc(1.2 * 14px);
	cursor: pointer;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-transition: .2s ease-in;
	transition: .2s ease-in;
}
.search-store-list li:hover {
	background-color: rgba(200,200,200,.5);
}
.search-store-list li a {
	padding: 0 6px;
	text-decoration: none;
}
.search-store-list li a:hover {
	color: #cd0000;
}